.popup__form {
  margin-top: 27px;
  position: relative;
}

.popup__form-error {
  position: absolute;
  color: red;
  display: block;
  font-size: 12px;
  min-height: 30px;  
}

.hidden {
  display: none;
}